<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		KRISI-SEVA
	</title>
	 <style>
		body {
		  background-image: url("{{ url_for('static', filename='img5.jpg') }}");
		}
		</style> 
</head>
<body link="#000" alink="#017bf5" vlink="#000">
	
		
	<br />
	<h3 align="center">
		<font face="Lato" size="6">KRISI-SEVA</font>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font face="cinzel" size="4">
			<a href="#">PLANT-DISEASE</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">FERTILISERS</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">WEED-DETECTOR</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">ADVERTS AND INFO</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">CONTACT</a>
		</font>
	</h3>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<h1 align="center">
		<font face="Lato" color="#017bf5" size="7">
			AN ALL IN ONE PLACE TO MAKE
		</font>
	</h1>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
			FARMING EASY AND EFFECTIVE
		</font>
	</h3>
	<br />
	<h3 align="center">
	<a href="#">
		<font face="Lato" color="#000">EXPLORE</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#">
		<font face="Lato" color="#fff">GET HELP</font>
	</a>
	</h3>
</body>
</html>