<!DOCTYPE html>
<html>
    <head>
        <title>
            Custom file Upload
        </title>>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="file.css">


    </head>>
    <body>
        <input type="file" id="file" accept="image/">
        <label for="file">
            <span class="material-icons">
                add_photo_alternate
            </span>&nbsp;
            Choose your photo
        </label>
        
    </body>>
</html>